@charset "utf-8";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	/*Gaian Colors*/
	--colorBlue: #00BCE1;
	--colorOrange: #EB894C;
	--colorYellow: #FAD267;
	--colorGreen: #D4E5B3;
	--colorBlack: #000000;
	/*Header Variables*/
	--bgHeader: #ffffff;
	--colorHeaderDivider: #fad267;
	--colorHeaderMenuItems: #fad267;
	--colorHeaderButtonLogin: #00bce1;
	--colorHeaderIconFacebook: #3b5998;
	--colorHeaderIconInstagram: #ff6eb4;
	--colorHeaderIconYouTube: #ff0000;
	--bgHeaderMenuMobile: #eb894c;
	--bgHeaderMenu: #f5f6f7;
	--colorHeaderMenuLinks: #00000080;
	--colorIconSwitchTheme: #fad267;
	/*Home Variables*/
	--bgBody: #fff;
	--colorHomeTextSpan: #3c3c3cb3;
	--colorHomeTextTitle: #213547;
	--colorHomeTextSubtitle: #3c3c3cb3;
	--bgHomeLinkBuySoftware: #00bce1;
	--colorHomeLinkBuySoftware: #ffffffde;
	--bgHomeLinkWhySoftware: #e5e5e5;
	--colorHomeLinkWhySoftware: #213547;
	--borderColorHomeLinkWhySoftware: #d1d1d1;
	--bgHomeLinkWhySoftwareHover: #00bce1;
	--colorHomeLinkWhySoftwareHover: #ffffffde;
	--borderColorCardsArticle: #f9f9f9;
	--bgHomeCardsArticle: #f9f9f9;
	--bgHomeCardsArticlesIcon: #fad267;
	--colorHomeCardsArticlesIcon: #e5e5e5;
	--colorHomeCardsArticleTitle: #213547;
	--colorHomeCardsArticleSubtitle: #3c3c3cb3;
	--borderColorDividerSection: #e5e5e5;
	--bgHomePricesSection: #d4e5b3;
	--colorPricesSectionIcon: #00bce1;
	--colorPricesSectionTitle: #3c3c3cb3;
	--borderPriceCards: #fff;
	--colorPriceCardTitle: #a4a4a4;
	--borderPriceCardsSpan: #fff;
	--colorPriceCardCost: #000;
	--colorPriceCardItens: #7c7c7c;
	--bgPriceCardItensAfter: #2c70ff;
	--bgPriceCardButton: #eb894c;
	--colorPriceCardButtonText: #000;
	--colorHomePartnershipsTitle: #00bce1;
	--colorHomePartnershipsSubtitle: #353535;
	--colorModalInputForm: #333;
	--borderColorModalInputForm: #ddd;
	--bgModalButtonLogin: #1abc9c;
	--bgModalButtonLoginHover: #109177;
	--colorModalButtonLogin: #fff;
	--borderColorButtonLogin: #16a085;
	/*Error Page Variables*/
	--colorErrorTitle: #eb894c;
	--bgAccordionList: #00bce1;
	--colorAccordionList: #444;
	/*Footer Variables*/
	--bgFooter: #212529;
	--colorFooterTitleColumns: #fcc419;
	--colorFooterParagraphColumns: #f0f8ff;
	--colorFooterLinkColumns: #f5f6f7;
	--bgFooterButtonCopyEmail: #2aaac4;
	--colorFooterIconCopyEmail: #fff;
	--colorFooterButtonText: #f8f9fa;
	/*Videos Page Variables*/
	--borderColorDivider: #e5e5e5;
	--colorVideoSubtitle: #000;
	--bgPlaylist: #d4e5b3;
	--colorPlaylistText: #000;
	--bgPlaylistLink: #d4e5b3;
	--colorPlaylistLink: #000;
	--colorPlaylistLinkHover: #3c3c3ccc;
	--borderColorPlaylistDivider: #000;
	--bgVideos: #e2e2e65a;
	--colorVideosIntroTitle: #000;
	--colorVideosIntroSubtitle: #3c3c3ce6;
	--colorVideosIntroButtons: #000;
	--borderColorVideosButtons: #d1d1d1;
	--bgVideosIntroButton: #e5e5e5;
	--bgVideosIntroButtonHover: #FAD267;
	--borderVideosIntroButton:#d1d1d1;
	--colorVideosIntroButtons: ;
	--colorVideosIntroButtonsHover: #ffffff;
	--bgSectionFunctions: #e2e2e65a;
	--bgSectionFunctionsDark: #ffffff;
	--bgLowBarSection: #00bce1;
	--colorLowBarSectionTitle: #000;
	/*Toast Notification Variables*/
	--bgToastNotification: #f2f2f2;
	--boxShadowContainerToastNotification: #0000001a;
	--borderLeftContainerToastNotification: #4070f4;
	--bgIconsCheck: #4070f4;
	--colorIconsCheck: #fff;
	--colorText: #666666;
	--colorTextTitle: #333;
	--bgProgressContainer: #ddd;
	--bgProgressContainerBefore: #4070f4;
}

body {
  font-size: 1rem;
  font-family: Gill Sans Extrabold, Trebuchet MS, sans-serif;
  font-weight: 400;
  
  background-color: var(--bgBody);
}

body.dark{
	/*Dark Colors Variables of Header*/
	--bgHeader: #242424b3;
	--colorHeaderDivider: #ffffffde;
	--colorHeaderMenuItems: #ffffffde;
	--colorHeaderIconFacebook: #ffffffde;
	--colorHeaderIconInstagram: #ffffffde;
	--colorHeaderIconYouTube: #ffffffde;
	--bgHeaderMenuMobile: #00bce1;
	--bgHeaderMenu: #242424b3;
	--colorHeaderMenuLinks: #fff;
	--colorIconSwitchTheme: #fad267;
	/*Dark Colors Variables of Home*/
	--bgBody: #262626;
	--colorHomeTextTitle: #e6f7ff;
	--colorHomeTextSubtitle: #f2f3f5;
	--bgHomeLinkBuySoftware: #00bce1;
	--colorHomeLinkBuySoftware: #ffffffde;
	--bgHomeLinkWhySoftware: #00bce1;
	--colorHomeLinkWhySoftware: #ffffffde;
	--borderColorHomeLinkWhySoftware: #d1d1d1;
	--bgHomeLinkWhySoftwareHover: #00bce1de;
	--colorHomeLinkWhySoftwareHover: #ffffffde;
	--borderColorCardsArticle: #f9f9f9;
	--bgHomeCardsArticle: #282828;
	--bgHomeCardsArticlesIcon: #4da6ff;
	--colorHomeCardsArticlesIcon: #e5e5e5;
	--colorHomeCardsArticleTitle: #f1f1f1;
	--colorHomeCardsArticleSubtitle: #e6f9ff;
	--borderColorDividerSection: #0099cc;
	--bgHomePricesSection: #303030;
	--colorPricesSectionIcon: #00bce1;
	--colorPricesSectionTitle: #e3e3e3;
	--borderPriceCards: #00bce1;
	--colorPriceCardTitle: #a4a4a4;
	--borderPriceCardsSpan: #00bce1;
	--colorPriceCardCost: #fff;
	--colorPriceCardItens: #f2f2f2;
	--bgPriceCardItensAfter: #2c70ff;
	--bgPriceCardButton: #00bce1;
	--colorPriceCardButtonText: #f3f3f3;
	--colorHomePartnershipsTitle: #00bce1;
	--colorHomePartnershipsSubtitle: #e5e5e5;
	--colorModalInputForm: #333;
	--borderColorModalInputForm: #ddd;
	--bgModalButtonLogin: #1abc9c;
	--bgModalButtonLoginHover: #109177;
	--colorModalButtonLogin: #fff;
	--borderColorButtonLogin: #16a085;
	/*Error Page Variables*/
	--colorErrorTitle: #ffffffd0;
	--bgAccordionList: #00bce1;
	--colorAccordionList: #f2f2f2;
	/*Dark Colors Variables of Videos Page*/
	--borderColorDivider: #e5e5e5;
	--colorVideoTitle: #ffffffd0;
	--colorVideoSubtitle: #ddddddd0;
	--colorPlaylistText: #000;
	--bgPlaylistLink: #646cffd7;
	--colorPlaylistLink: #000000da;
	--colorPlaylistLinkHover: #ffffff;
	--borderColorPlaylistDivider: #ffffff88;
	--bgVideosIntro: #000;
	--colorVideosIntroTitle:#ffffffd0; 
	--colorVideosIntroSubtitle: #b9b9b9c4;
	--colorVideosIntroButtons: #000;
	--borderColorVideosButtons: #d1d1d1;
	--bgVideosIntroButton: #8b8b8bab;
	--bgVideosIntroButtonHover: #fffffff1;
	--borderVideosIntroButton:#d1d1d1;
	--colorVideosIntroButtons: #000;
	--colorVideosIntroButtonsHover: #000;
	--bgSectionFunctions: #000000e7;
	--bgSectionFunctionsDark: #000;
	--bgLowBarSection: #1a1a1adc;
	--colorLowBarSectionTitle: #c7cdd0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
