@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	--bgHeader: #ffffff;
	--colorItemsMenu: #fad267;
	--colorItemsMenuLogin: #00bce1;
}

body {
  font-size: 1rem;
  font-family: Gill Sans Extrabold, Trebuchet MS, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  font-size: 0.875rem;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
