@charset "utf-8";

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	--bgHeader: #ffffff;
	--colorItemsMenu: #fad267;
	--colorItemsMenuLogin: #00bce1;
	--bgSobreSection: #dfe6ed;
	--bgPorqueSection: #dfe6ed;
	--bgPlanosSection: #96c3ec;
	--bgTreinamentoSection: #fbe192;
	--bgParceirosSection: #ffffff;
	--bgPlanosTabela: #ffffff9d;
	--borderPlanosTabela: #c3cfd9;
	--bgPlanosButton: #f55d48;
	--colorPlanosButton: #ffffff;
	--borderPlanosButton: #be3a2b;
	--bgTreinamentoButton: #ffffff;
	--colorTreinamentoButton: #2e89d9;
	--borderTreinamentoButton: #b0c1ab;
	--bgFooter: #c4bdaf;
	--bgContactButton: #e8833a;
	--colorContactButton: #ffffff;
	--colorInfoLinks: #7165ec;
	--colorFacebookIcon: #1778f2;
	--colorInstagramIcon: #f00075;
	--colorYoutubeIcon: #ff0000;
}

body {
  font-size: 1rem;
  font-family: Gill Sans Extrabold, Trebuchet MS, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3 {
  font-size: 0.875rem;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
