#conteudo {
  padding: 0;
}

.sectionVideosContainer {
  text-align: center;
  padding: 1.5rem 1rem 1.75rem 1rem;
}

.dividerVideo{
  border: 1px solid var(--borderColorDivider);
}

.videoText h1{
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--colorVideoTitle);
}

.videoText p {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: var(--colorVideoSubtitle);
}

.playlistLink {
  margin: 2rem 0 1.5rem 0;
}

.playlistLink a {
  background-color: var(--bgPlaylistLink);
  color: var(--colorPlaylistLink);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.35rem;
  border-radius: 0.35rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.playlistLink a:hover {
  transform: scale(0.9);
  color: var(--colorPlaylistLinkHover);
}

@media (min-width: 992px) {
  #sectionPlaylists{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sectionVideosContainer{
    padding: 2rem 1.25rem 2.5rem 1.25rem;
  }

  .videoText h1{
    font-size: 1.80rem;
  }

  .videoText p{
    font-size: 1.60rem;
  }

  .dividerBottom{
    border-bottom: 1px solid var(--borderColorPlaylistDivider);
  }

  .playlistLink{
    width: 15rem;
    margin: auto;
  }

  .playlistLink a i{
    transition: all 0.3s;
  }

  .playlistLink a:hover i{
    transform: translateX(1.25rem);
  }
}

#sectionVideosIntro {
  background-color: var(--bgVideosIntro);
}

.imageVideosIntro {
  margin-bottom: 1.25rem;
}

.imageVideosIntro img{
  width: 85%;
  margin: auto;
}
 
.contentVideosIntro h1 {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0;
  color: var(--colorVideosIntroTitle);
}

.contentVideosIntro h3 {
  padding: 0.75rem 0;
  font-size: 1.20rem;
  font-weight: 300;
  color: var(--colorVideosIntroSubtitle);
}

.contentVideosIntro a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0.50rem;
  font-size: 1.25rem;
  border-radius: 0.50rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s;
}

.videosIntroButtons .introButton {
  margin-bottom: 1.25rem;
  color: var(--colorVideosIntroButtons);
  background-color: var(--bgVideosIntroButton);
  border-color: var(--borderVideosIntroButton);
}

.videosIntroButtons .introButton:hover {
  background-color: var(--bgVideosIntroButtonHover);
  color: var(--colorVideosIntroButtonsHover);
}

@media (min-width: 992px) {
  .imageVideosIntro img{
    width: 55%;
  }

  .contentVideosIntro h3{
    font-size: 1.30rem;
  }

  .videosIntroButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin: 1.15rem 0;
  }

  .videosIntroButtons .introButton:hover{
    transform: translateY(-0.3125rem);
  }
}

#sectionAdministrativo{
  background-color: var(--bgSectionFunctionsDark);
}

#sectionTecnico {
  background-color: var(--bgSectionFunctions);
}

#sectionCoordenadores {
  background-color: var(--bgSectionFunctionsDark);
}

#sectionGestores {
  background-color: var(--bgSectionFunctions);
}

#sectionEnd {
  background-color: var(--bgLowBarSection);
}

.endText h3{
  font-size: 1.60rem;
  font-weight: 300;
  color: var(--colorLowBarSectionTitle);
}