.footer {
  width: 100%;
  padding: 1.25rem 1.375rem;
  background-color: #212529; /*Variavél*/
}

.containerFooter {
  padding: 0.3125rem 0 1.25rem ;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.containerFooter h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #fcc419;
  letter-spacing: 0.15rem;
}

.containerFooter .col-1 p,
.containerFooter .col-3 p {
  font-size: 1.125rem;
  color: aliceblue;
  text-align: justify;
}

.containerFooter .col-2 > h2{
  margin-bottom: 0rem;
}

.containerFooter .col-2 .navFooter .listItensFooter li {
  padding: 0.75rem 0;
}

.containerFooter .col-2 .navFooter .listItensFooter li a {
  color: #f5f6f7;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}

.containerFooter .col-2 .navFooter .listItensFooter li a:hover{
  text-decoration: underline;
}

.containerFooter .col-3 p {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.btnCopyEmail {
  background: #2fc8e7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnCopyEmail div {
  border-radius: 0.5rem;
  background-color: #2aaac4;
  padding: 1rem;
}

.btnCopyEmail div i {
  color: white;
  font-size: 1.125rem;
}

.btnCopyEmail span {
  flex: 1;
  font-size: 1rem;
  color: #f8f9fa;
}

@media (min-width: 992px) {
  .containerFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
  }
  
  .containerFooter h2 {
    font-size: 2.25rem;
  }

  .btnCopyEmail:hover {
    filter: opacity(0.8);
  }
}
