.containerHeader {
  background-color: var(--bgHeader);
  width: 100%;
  height: 15vh;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  border-left: 2px solid var(--colorHeaderDivider);
  height: 5px;
}

.containerImg img {
  width: 100%;
}

.navHomePage ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navHomePage ul a {
  display: block;
  color: var(--colorHeaderMenuItems);
  font-size: 1.125rem;
  padding: .5rem;
}

.navHomePage ul a.btnLogin {
  display: flex;
  gap: .3125rem;
  color: var(--colorHeaderButtonLogin);
}

#btnMobile{
  display: none;
}

#containerSocialNetwork {
  display: block;
}

#containerSocialNetwork ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#containerSocialNetwork ul li a {
  margin-top: .5rem;
  font-size: 1.5rem;
  border-bottom: none;
}

a.iconFacebook i{
  color: var(--colorHeaderIconFacebook);
}

a.iconInstagram i{
  color: var(--colorHeaderIconInstagram);
}

a.iconYoutube i{
  color: var(--colorHeaderIconYouTube);
}

.switchThemeIcon{
	color: var(--colorIconSwitchTheme);
	cursor: pointer;
	font-size: 1.375rem;
}

@media (max-width: 37.5rem){
  #btnMobile{
    display: block;
    font-size: 2rem;
    cursor: pointer;

    color: var(--bgHeaderMenuMobile);
  }

  #menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 6rem;
    right: 0rem;
    background: var(--bgHeaderMenu);
    transition: .6s;
    z-index: 1000;
    height: 0rem;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: 50%;
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid var(--colorHeaderMenuLinks);
  }

  #containerSocialNetwork { 
    display: block;
    visibility: visible;
  }

  #containerSocialNetwork ul li a {
    font-size: 1.75rem;
  }
}